{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Edit host</h4>
  </div>
  <div class="panel-body">
	<div class="container-fluid">
		<div class="row">
	  
	      {{ form_start(form) }}
	        <div class="form-group">
	          {{ form_row(form.hostname, {'attr': {'class': 'form-control' }}) }}
	        </div>
	        <div>
			<div>
				{{ form_label(form.ip, 'IP-Address') }}
        	</div>
        	{{ form_errors(form.ip) }}
        	{{ form_errors(form.useip) }}
        	</div>
	        <div class="form-group">
	            <div class="input-group">
				<span class="input-group-addon">
				{{ form_widget(form.useip, {'attr': {'class': '' }}) }}
				</span>
				{% if form.vars.value.useip == 1 %}
				{{ form_widget(form.ip, {'attr': {'class': 'form-control' }}) }}
				{% else %}
				{{ form_widget(form.ip, {'attr': {'class': 'form-control', 'readonly': 'true' }}) }}
				{% endif %}
				</div>
	        </div>
	        
	        <div>
			<div>
				{{ form_label(form.sshuser, 'Sudo / Sshuser') }}
        	</div>
        	{{ form_errors(form.sshuser) }}
        	{{ form_errors(form.sshsudo) }}
        	</div>
	        <div class="form-group">
	            <div class="input-group">
				<span class="input-group-addon">
				{{ form_widget(form.sshsudo, {'attr': {'class': '' }}) }}
				</span>
				{% if form.vars.value.sshsudo == 1 %}
				{{ form_widget(form.sshuser, {'attr': {'class': 'form-control' }}) }}
				{% else %}
				{{ form_widget(form.sshuser, {'attr': {'class': 'form-control', 'readonly': 'true' }}) }}
				{% endif %}
				</div>
	        </div>
	        
	        <div class="form-group">
	          {{ form_row(form.sshkeychainid, {'label': 'SSH Key', 'attr': {'class': 'form-control'}}) }}
	        </div>
	        
	        <div class="form-group">
	          {{ form_row(form.password, {'label': 'Password (will not be saved)', 'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
	        </div>
	        <button type="submit" class="btn btn-primary">Save</button>
	        <a href="{{ path('host') }}"><button type="button" class="btn btn-danger">Return to host overview</button></a>
	      {{ form_end(form) }}
	      
		</div>
	</div>
  </div>
</div>

<script>

$(document).ready(function () {

  $('#form_sshsudo').change(function () {
    if( $('#form_sshsudo').is(':checked') ) {
      $('#form_sshuser').val('');
      $('#form_sshuser').prop('readonly', false);
    } else {
      $('#form_sshuser').val('root');
      $('#form_sshuser').prop('readonly', true);
    }
  });
  
  $('#form_useip').change(function () {
    if( $('#form_useip').is(':checked') ) {
      $('#form_ip').prop('readonly', false);
    } else {
      $('#form_ip').val('');
      $('#form_ip').prop('readonly', true);
    }
  });

});

</script>

{% endblock %}

