{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">New key</h4>
  </div>
  <div class="panel-body">
	<div class="container-fluid">
		<div class="row">
	  
	      {{ form_start(form) }}
	        <div class="form-group">
	          {{ form_row(form.sshprivatekeyfilepath, {'label': 'Filename', 'attr': {'class': 'form-control' }}) }}
	        </div>
	        <div class="form-group">
	          {{ form_row(form.comment, {'attr': {'class': 'form-control'}}) }}
	        </div>
	        <button type="submit" class="btn btn-primary">Save</button>
	        <a href="{{ path('keychain') }}"><button type="button" class="btn btn-danger">Cancel</button></a>
	      {{ form_end(form) }}
	      
		</div>
	</div>
  </div>
</div>

{% endblock %}
